body{
	margin: 0;
	top: 0;
/*	height: 1000px;*/
	-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: Verlag;
    src: url(verlagbook.otf);
    font-weight: 300;
}

@font-face {
    font-family: Verlag;
    src: url(verlagbold.otf);
    font-weight: 500;
}

@font-face {
    font-family: Verlag;
    src: url(verlagblack.otf);
    font-weight: 700;
}


.orangeleft img{
	max-width: 100%;
	margin: left 40%;
}


.orangeleft{
	width: 27%;
	margin: 0;
	background-color: rgb(245, 71, 5);
	float: left;
	height:100vh;
	top: 0;
	color: white;
	z-index: 1;
	   overflow: scroll;
}

.whitemiddle{
	width: 46%;
	background-color: white;
	color: rgb(245, 71, 5);
	display: inline-block;
	height: 100vh;
	text-align: center;
	z-index: 1;
}

.whitemiddle img{
	width: 25vw;
	padding-top: 20px;
}

.orangeright{
	width: 27%;
	margin: 0;
	background-color: rgb(245, 71, 5);
	float: right;
	height:100vh;
	right: 0;
	color: white;
	z-index: 1;
   	overflow: scroll;
}

.bottomtext{
	position: relative;
		bottom: 7vh;
	font-family: Verlag, Arial, sans-serif;
	text-align: center;
/*	padding-left: 6%;
	padding-right: 6%;*/
}

.textcontainer{
	position: absolute;
	float: center;
	width: 27%;
	bottom: 0;
}

.whitemiddle .textcontainer{
	position: absolute;
	float: center;
	width: 46%;
	bottom: 0;
	text-align: center;
}

.whitemiddle .descrip .textcontainer {
	bottom: 20px;
}

.orangeleft .textcontainer{
	bottom: 0px;
}

.front {
	display: block;
}

.80bday {
	display: block;
}

.20anniv {
	display: block;
}

.front h1{
	margin-bottom: 1px;
	margin-top: 2px;
	font-size: 2em;
	font-weight: 500;
	line-height: 1.1em;
	letter-spacing: 7px;
	text-align: center;
	position: relative;
}

.front h2{
	margin-bottom: 2px;
	margin-top: 2px;
	font-size: 1em;
	letter-spacing: 5px;
	font-weight: 300;
	line-height: 1.1em;
}

.orangeleft img{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}

.orangeright img{
	position: relative;
	width: 100%;
	display: block;
}

.whitemiddle2{
	width: 46%;
	background-color: white;
	color: rgb(245, 71, 5);
	display: inline-block;
	height: 100vh;
	text-align: center;
}

.whitemiddle2 img{
	position: relative;
	width: 100%;
}

.whitemiddle2 p{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 4%;
	text-align: left;
	font-family: Verlag, Arial, sans-serif;
	font-weight: 200;
}

.descrip p{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 5%;
	text-align: left;
	font-family: Verlag, Arial, sans-serif;
	font-weight: 200;
	font-size: 1.2em;
}

.staff{
color: black;
display: inline-block;
float: center;
text-align: center;
width: 46%;
height: 30px;
position: relative;
}

.date1{
	color: black;
	text-align: left;
	display: inline-block;
	position: relative;
	top: 0;
	vertical-align: top;
	padding-left: 10%;
	float: left;
}

.date1 h2{
	padding: 0;
	margin: 0;
	font-family: Verlag, Arial, sans-serif;
	font-size: 1.8em;
	top: 0;
	vertical-align: top;
	letter-spacing: 0px;
	font-weight: 300;
	line-height: .9em;
}

.date2{
	color: black;
	text-align: right;
	display: inline-block;
	position: relative;
	top: 0;
	vertical-align: top;
	padding-right: 10%;
	float: right;
}
.date2 h2{
	padding: 0;
	margin: 0;
	font-family: Verlag;
	font-size: 1.8em;
	letter-spacing: 0px;
	font-weight: 300;
	text-transform: uppercase;
	font-feature-settings: "lnum", "onum" off;
	line-height: .9em;
}

.dates {
	padding-top: 40px;
}

.fullnav .nav {
	display: none;
}

.fullnav:hover .nav{
	display: inline-block;
}

.fullnav:hover .plusicon{
	display: none;
}

.fullnav img{
	position: fixed;
	z-index: 4;
	top: 1%;
	left: 1%;

}

.plusicon img{
	width: 40px;
}

.plusiconmobile {
	width: 40px;
	opacity: 0;
}

.csmlogo img{
	width: 40px;
	position: fixed;
	float: right;
	top: 1%;
	right: 1%;
	z-index: 5;
}

.csmlogo img:hover{
	opacity: .5;
}

.csmlogomobile {
	width: 40px;
	position: fixed;
	float: right;
	top: 1%;
	right: 1%;
	z-index: 5;
	opacity: 0;
}


.nav {
	list-style: none;
	color: black;
	background-color: white;
	border-left: solid 7px;
	border-right: solid 7px;
	margin: 0;
	padding: 0;
	width: 26.5%;
	float: left;
	position: fixed;
	height:100vh;
	z-index: 2;
}

.nav ul{
	margin: 0;
	padding: 0;
}


.nav a:hover{
	background-color: rgb(245, 71, 5);
}

.nav img{
	width: 60%;
	text-align: center;
	padding-left: 20%;
	position: relative;
}

.nav a{
	vertical-align: middle;
	font-family: Verlag;
	font-weight: 400;
	text-decoration: none;
	color: black;
	font-variant: small-caps;
	letter-spacing: 2px;
	border-bottom: solid 2px;
	padding-top: 7%;
	padding-bottom: 7%;
	padding-left: 5%;
	padding-right: 5%;
	height: 10%;
	display: block;
}

.nav p{
	vertical-align: middle;
	font-family: Verlag;
	font-weight: 400;
	text-decoration: none;
	color: black;
	font-variant: small-caps;
	letter-spacing: 2px;
	border-bottom: solid 2px;
	padding-top: 7%;
	padding-bottom: 7%;
	padding-left: 5%;
	padding-right: 5%;
	height: 10%;
	display: block;
	margin: 0;
}

.navtext {
	border-left: solid 2px;
	margin-left: 4px;
	border-right: solid 2px;
	margin-right: 4px;
}

.event img{
	width: 15vw;
	padding-bottom: 20px;
}

.whitemiddle .program {
	margin-top: 25%;
	display: inline-block;

}

.whitemiddle .program h1{
	font-size: 2em;
	font-weight: 700;
	line-height: 1.1em;
	letter-spacing: 7px;
	text-align: center;
	position: relative;
	font-family: verlag;
}

.whitemiddle .program p{
	font-size: 1.5em;
	text-align: center;
	font-family: verlag;
	font-weight: 200;
	line-height: 1.7em;
	padding-left: 15%;
	padding-right: 15%;
}

.whitemiddle .contact {
	margin-top: 10vh;
	display: inline-block;
	width: 60%;

}

.whitemiddle .contact a{
	text-decoration: none;
	color: inherit;
}
.whitemiddle .contact h1{
	font-size: 2em;
	font-weight: 700;
	line-height: 1.1em;
	letter-spacing: 7px;
	text-align: left;
	position: relative;
	font-family: verlag;
	padding-bottom: 10%;
}

.whitemiddle .contact p{
	font-size: 1em;
	text-align: left;
	font-family: verlag;
	font-weight: 200;
	line-height: 1.1em;

}

.whitemiddle .contact h3{
	font-size: 1.5em;
	font-family: verlag;
	font-weight: 200;
	text-align: left;
}

.arrow {
	position: fixed;
	bottom: 0px;
	z-index: 4;
	text-align: center;
	width: 100%;
	height: 5%;
	background-color: rgba(255, 255, 255, .6);
	opacity: .6;
}


.arrow img{
	padding-top: 15px;
	width: 30px;
	text-align: center;
}

.arrow:hover{
	opacity: 1;
	border-top: 5px solid rgb(245, 71, 5);
}

.repeat {
	position: fixed;
	bottom: 0px;
	z-index: 4;
	text-align: center;
	width: 100%;
	height: 10%;
	background-color: rgba(255, 255, 255, .6);
	opacity: .6;
}


.repeat img{
	padding-top: 25px;
	width: 30px;
	text-align: center;
}


.repeat:hover{
	opacity: 1;
	border-top: 5px solid rgb(245, 71, 5);
}

@media screen and (min-width: 1600px) {
.whitemiddle .descrip p{
	padding-left: 10%;
	padding-right: 10%;
}
}


@media screen and (max-width: 1000px) {
.eventorange h1 {
	margin-bottom: 1px;
	margin-top: 2px;
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.1em;
	letter-spacing: 7px;
}

.whitemiddle .contact p{
	font-size: 1em;
	text-align: left;
	font-family: verlag;
	font-weight: 200;
	line-height: 1.1em;
}

.event img{
	max-height: 40%;
}

}

@media screen and (max-width: 916px) {

.nav li {
	font-size: 10pt;
}

.whitemiddle .contact h1{
	font-size: 1.5em;
}
}

@media screen and (max-width: 840px) {

.front h1{
	margin-bottom: 1px;
	margin-top: 2px;
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.1em;
	letter-spacing: 7px;
}

.front h2{
	margin-bottom: 2px;
	margin-top: 2px;
	font-size: .75em;
	letter-spacing: 5px;
	font-weight: 500;
	line-height: 1.1em;
}

.program h1{
	margin-bottom: 1px;
	font-size: 2em;
	font-weight: 500;
	line-height: 1.1em;
	letter-spacing: 7px;
	text-align: center;
	position: relative;
	font-family: verlag;
}


}


@media screen and (max-width: 768px) {

.whitemiddle2 p{
	padding-left: 15%;
	padding-right: 13%;
	padding-top: 3%;
	}

.whitemiddle2 .dates{
	padding-left: 15%;
	padding-right: 15%;
}

.date1{
	padding: 0;
}

.date2{
	padding: 0;
}
.nav li a{
	font-size: 10pt;
	letter-spacing: 1px;
}

.nav img{
	width: 80%;
	text-align: center;
	padding-left: 12%;
}

.orangeleft {
	width: 20%;
}

.orangeright {
	width: 20%;
}

.nav{
	width: 40%;
}

.whitemiddle2{
	width: 60%;
}

.whitemiddle .textcontainer {
	width: 100%;
	position: relative;
	bottom: -160px;
}

.whitemiddle{
	width: 60%;
}

.orangeleft .textcontainer{
	display: none;
}

.orangeright .textcontainer{
	display: none;
}

.whitemiddle img{
	width: 50vw;
}

.event img{
	width: 22vw;
}


}

@media screen and (max-width: 610px) {
.whitemiddle .contact p{
	font-size: 1em;
	text-align: left;
	font-family: verlag;
	font-weight: 200;
	line-height: 1.1em;
}
}

@media screen and (max-width: 520px) {
.orangeleft {
	display: none;
}

.orangeright {
	display: none;
}

.whitemiddle{
	width: 100%;
}

.whitemiddle2{
	width: 100%;
}

.nav {
	width: 50%;
}

.event img{
	width: 170px;
}

.whitemiddle .contact p{
	font-size: 1em;
}
}

@media screen and (max-width: 320px) {
.whitemiddle .contact p{
	font-size: 1em;
}

.whitemiddle .contact {
	padding-right: 6%;
}

.csmlogomobile img{
	width: 40px;
	position: fixed;
	float: right;
	top: 1%;
	right: 1%;
	z-index: 5;
	display: block;
}

/*.csmlogomobile{
	opacity: 1;
}

.csmlogomobile img:hover{
	opacity: .5;
}

.csmlogo {
	opacity: 0;
}
*/

.arrow img{
	padding-top: 7px;
}

.repeat img{
	padding-top: 7px;
}

}
